# ---------- 排除特定后缀的文件 ----------
*.bkp
*.pyc
*.pt
*.pth
*.onnx
*.log
*.cache
*.pdf
# ----------------------------------------


# ---------- 排除数据集文件夹 ----------
ObjectDetection/YOLOv5/code/yolov5-v7.0/coco128
test-Le0v1n
raw_data
voc2012-Le0v1n
VOC2012-5000
# ----------------------------------------


# ---------- 排除冗余的文件夹 ----------
__pycache__
Papers
logs
ObjectDetection/YOLO-World/code/*.json
# ----------------------------------------
