// VSCode预览字体修改

/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */

.markdown-preview.markdown-preview {
  font-family: Sarasa Mono SC;
  font-weight: 500;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  code {
    font-family: Sarasa Mono SC;
    font-weight: normal;
  }
}